*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    text-decoration:none;
}

.heading{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

 .heading h1{
    font-size: 42px;
    font-weight: 900;
    color: aquamarine;
    text-transform: capitalize;
}

